:root {
  font-family: Assistant;
  width: 100%;
  font-weight: lighter;

  color-scheme: light dark;
  background-color: #ffffff;

 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
